#header_background {
    background: #ccddff;
}

#header_table {
    width:100%;
}


#logout_div{
    max-width:200px;
    border: solid 2px gray;
    border-radius: 5px;
}

.contents {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0% 5% 15% 5%;
    background: white;
}

body {
    background: whitesmoke;
}