{% extends 'tracker_app/base.html' %}

{% block title %}{{task.title}}{% endblock %}

{% block content %}
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item " ><a  class="nav-link active"href="#"><h3>{{task.title}}</h3></a></li>
          <li class="nav-item " ><a href="{% url 'index' %}">All tasks</a></li>
          <li class="nav-item" ><a  href="{% url 'actuals' %}">Actual Tasks</a></li>
          <li class="nav-item" ><a  href="{% url 'all_reminders' %}">Reminders</a></li>
          <li class="nav-item " ><a   href="{% url 'all_plans' %}">All plans</a></li>
        </ul>


        <div class="btn-toolbar justify-content-end">
        <a href="{% url 'new_task' task.id %}">
            <button type="button" class="btn btn-info ">Create Subtask</button>
        </a>
        <a href="{% url 'add_reminder' task.id %}">
            <button type="button" class="btn btn-info ">Add Reminder</button>
        </a>
        <a href="{% url 'edit_task' task.id  %}">
            <button type="button" class="btn btn-warning ">Edit</button>
        </a>

        <a href="{% url 'delete_task' task.id %}">
            <button type="button" class="btn btn-danger ">Delete</button>
        </a>

        <div class="dropdown show">
                <button class="btn btn-primary dropdown-toggle" type="button" id="plans" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 Plans
                </button>
                 <div class="dropdown-menu" aria-labelledby="plans">
                        {% if template_for_plan %}
                            <a class="dropdown-item" href="{% url 'delete_plan' template_for_plan.id %}">Delete plan</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'new_plan' task.id %}">New Plan</a>
                        {% endif %}
                    <div class="dropdown-divider"></div>
                        {% if created_by_plan %}
                            <a class="dropdown-item" href="{% url 'delete_plan' created_by_plan.id %}">Delete plan that created task</a>
                        {% endif %}
                </div>
        </div>
        </div>
        <hr/>
    <table>
        <tr>
            <td class="align-baseline">
                <ul class="list-group align-top">
                    <li class="list-group-item active">Details</li>
                    <li class="list-group-item"><i>Author</i>: {{task.author}}</li>
                    <li class="list-group-item"><i>Starts</i>: {{task.start_time}}</li>
                    <li class="list-group-item"><i>Ends</i>: {{task.end_time}}</li>
                    {% if task.get_parent  %}
                        <li class="list-group-item"><i>Parent</i>: <a href="{% url 'detail_task' task.get_parent.id %}">{{task.get_parent.title}}</a></li>
                    {% endif %}
                    <li class="list-group-item"><i>Editors</i>: {{editors}}</li>
                    <li class="list-group-item"><i>Tags</i>:
                    {% for tag in task.tags.names.all %}
                        <b>{{tag}}</b>,
                    {% endfor %}
                    </li>
                </ul>
            </td>
            <td class="align-baseline">
                {% if template_for_plan %}
                 <ul class="list-group align-top">
                     <li class="list-group-item active">
                         <a href="{% url 'plan_details' template_for_plan.id %}">Periodic Plan</a>
                     </li>
                     <li class="list-group-item"><i>Period</i>: {{template_for_plan.period}}</li>
                     <li class="list-group-item"><i>Ends</i>: {{template_for_plan.end_time}}</li>
                     <li class="list-group-item"><i>Last update</i>: {{template_for_plan.last_update_time}}</li>

                </ul>

                {% endif %}

            </td>
            <td class="align-baseline">
                {% if created_by_plan %}
                <ul class="list-group align-top">
                    <li class="list-group-item active">Created by plan</li>
                    <li class="list-group-item"><i>Created automatically by</i>
                        <a href="{% url 'plan_details' created_by_plan.id %}">Periodic Plan</a>
                    </li>
                    <li class="list-group-item"><i>Period</i>{{created_by_plan.period}}</li>
                    <li class="list-group-item"><i>Ends repeting</i>{{created_by_plan.end_time}}</li>
                </ul>
                {% endif %}
            </td>
            <td class="align-baseline">

                <ul class="list-group align-top">
                    <li class="list-group-item active">Reminders</li>
                    {% if reminders %}
                        {% for r in reminders %}
                        <li class="list-group-item">
                            {{r.alert_time}}
                            <a href="{% url 'delete_reminder' r.id %}">
                                <button>Delete</button>
                            </a>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item"> no reminders set</li>
                    {% endif %}
                </ul>

            </td>
        </tr>
    </table>

    {% if subtasks %}
        <h2>Subtasks:</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Priority</th>
                    <th>Starts</th>
                    <th>Ends</th>
                </tr>
            </thead>
            <tbody>
            {% for subtask in subtasks %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'detail_task' subtask.id %}"> {{subtask.title}} </a></td>
                    <td>
                        {% if subtask.priority == 1 %}
                            <div class="text-warning">HIGH</div>
                        {% elif subtask.priority == 2 %}
                            <div class="text-info">MEDIUM</div>
                        {% elif subtask.priority == 3 %}
                            <div class="text-muted">LOW</div>
                        {%endif%}
                    </td>
                    <td>{{subtask.start_time}}</td>
                    <td>{{subtask.end_time}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock %}