{% extends 'tracker_app/base.html' %}

{% block title %}{{task.title}}{% endblock %}
{% block content %}
    <h1>{{task.title}} task</h1>
    <a href="{% url 'edit_task' task.id  %}">
        <button type="button" class="btn btn-warning btn-sm">Edit</button>
    </a>
    <a href="{% url 'delete_task' task.id %}">
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
    </a>
    <a href="{% url 'new_task' task.id %}">
        <button type="button" class="btn btn-info btn-sm">Create subtask</button>
    </a>
    <hr/>
    <ul>
        <li><i>Author</i>: {{task.author}}</li>
        <li><i>Starts</i>: {{task.start_time}}</li>
        <li><i>Ends</i>: {{task.end_time}}</li>
        {% if task.get_parent  %}
            <li><i>Parent</i>: <a href="{% url 'detail_task' task.get_parent.id %}">{{task.get_parent.title}}</a></li>
        {% endif %}
        <li><i>Editors</i>: {{editors}}</li>
    </ul>
    {% if subtasks %}
        <h2>Subtasks:</h2>
        <ol>
        {% for subtask in subtasks%}

            <li><a href="{% url 'detail_task' subtask.id %}"> {{subtask.title}} </a></li>

        {% endfor %}
        </ol>
    {% endif %}

{% endblock %}