{% extends 'tracker_app/base.html' %}


{% block title %}Tasks list{% endblock %}

{% block content%}
         <ul class="nav nav-tabs nav-justified">
          <li class="nav-item " ><a class="nav-link active"  href="{% url 'index' %}">All tasks</a></li>
          <li class="nav-item" ><a  href="{% url 'actuals' %}">Actual Tasks</a></li>
          <li class="nav-item" ><a  href="{% url 'all_reminders' %}">Reminders</a></li>
          <li class="nav-item" ><a  href="{% url 'all_plans' %}">All plans</a></li>
        </ul>
    <hr/>

    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <a href="{% url 'new_task' 0 %}">
            <button class="btn btn-primary">Create Task</button>
    </a>
    <form id="filter_form" method="GET" >
        <input type="checkbox" checked="checked" id="tops_only" name="tops_only"/>
        <label for="tops_only">Top level only</label>
        <input type="checkbox" id="active_only" name="active_only"/>
        <label for="active_only">Active only</label>
        <select name="order">
            <option value="priority">Priority</option>
            <option value="start_time">Start time</option>
            <option value="end_time">End time</option>
        </select>
        <select name="key">
            <option value="tags">Tags</option>
            <option value="title">Title</option>
        </select>
        <input type="search" name="query" value="{{ request.GET.query }}" placeholder="Search"/>
        <input type="submit" value="Search"/>
    </form>
</div>

    {% if tasks_list %}
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Done</th>
              <th style="width: 20%">Title</th>
              <th scope="col">Priority</th>
              <th scope="col">Starts</th>
              <th scope="col">Ends</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            {% for task in tasks_list %}
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>
                {% if task.active %}
                <a href="{% url 'task_status' task.id %}">
                    <button class="text-warning">NO</button>
                </a>
                {% else %}
                <a href="{% url 'task_status' task.id %}">
                     <button class="text-success">YES</button>
                </a>
                {% endif %}
            </td>
            <td><a href="{% url 'detail_task' task.id %}">
                {% if task.author.id == user.id %}
                    {{task.title|slice:":15" }}
                {% else %}
                    {{task.title|slice:":15" }} (shared)
                {% endif %}
                </a>
            </td>
            <td>
                {%if task.priority == 1%}
                    <div class="text-warning">HIGH</div>
                {%elif task.priority == 2%}
                    <div class="text-info">MEDIUM</div>
                {% elif task.priority == 3 %}
                    <div class="text-muted">LOW</div>
                {%endif%}

            </td>
            <td>{{task.start_time}}</td>
            <td>{{task.end_time}}</td>
            <td>
             <div class="dropdown show">
                <button class="btn btn-primary dropdown-toggle" type="button" id="t_{{task.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="t_{{task.id}}">

                    <a class="dropdown-item" href="{% url 'new_task' task.id %}">Add subtask</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'edit_task' task.id  %}">Edit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item -danger" href="{% url 'delete_task' task.id %}">Delete</a>
                </div>
             </div>
            </td>
            </tr>
{% endfor %}

      </tbody>
    </table>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            No tasks here... You can <a href="{% url 'new_task' 0 %}">Create a task</a>
        </div>
    {% endif %}


<script>
function changed() {
    var form = document.getElementById("filter_form");
    form.submit();
}
</script>


{% endblock %}