{% extends 'tracker_app/base.html' %}

{% block title %}Tasks list{% endblock %}

{% block content%}
    <div class="search_bar">
        <a href="{% url 'new_task' 0 %}">
            <button class="btn btn-primary">Create Task</button>
        </a>
    <form method="post">


        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}
        <table>
            <tr>
                <td>
                    {{ form.include_shared_tasks.label}}
                    {{ form.include_shared_tasks}}
                </td>
                <td>
                    {{ form.show_mode.errors }}
                    {{ form.show_mode }}
                </td>
                <td>
                    {{ form.text_field.errors }}
                    {{ form.text_field }}
                </td>
                <td>
                    {{ form.selected_filter.errors }}
                    {{ form.selected_filter }}
                </td>
                <td>
                    <button type="submit">Filter</button>
                </td>
            </tr>
        </table>
    </form>
    </div>

    {% if tasks_list %}
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Priority</th>
              <th scope="col">Starts</th>
              <th scope="col">Ends</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>

            {% for task in tasks_list %}
            <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{% url 'detail_task' task.id %}">
                {% if task.author.id == user.id %}
                    {{task.title}}
                {% else %}
                    {{task.title}} (shared)
                {% endif %}
                </a>
            </td>
            <td>
                {%if task.priority == 1%}
                    <div class="text-warning">HIGH</div>
                {%elif task.priority == 2%}
                    <div class="text-info">MEDIUM</div>
                {% elif task.priority == 3 %}
                    <div class="text-muted">LOW</div>
                {%endif%}

            </td>
            <td>{{task.start_time}}</td>
            <td>{{task.end_time}}</td>
            <td>
             <div class="dropdown show">
                <button class="btn btn-primary dropdown-toggle" type="button" id="t_{{task.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="t_{{task.id}}">
                    <a class="dropdown-item" href="{% url 'new_plan' task.id %}">Add plan</a>
                    <a class="dropdown-item" href="{% url 'new_task' task.id %}">Add subtask</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'edit_task' task.id  %}">Edit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item -danger" href="{% url 'delete_task' task.id %}">Delete</a>
                </div>
             </div>
            </td>
            </tr>
{% endfor %}

      </tbody>
    </table>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            No tasks here... You can <a href="{% url 'new_task' 0 %}">Create a task</a>
        </div>
    {% endif %}




<script>
function showView() {
    var s_check_bx = document.getElementById("shared_tasks_check");
    var s_block = document.getElementById("shared_tasks_block");
    var s_label = document.getElementById("shared_label");
    if (s_check_bx.checked == true){
        s_label.innerHTML = "Hide shared tasks";
        s_block.style.display = "block";
    } else {
        s_label.innerHTML = "Show shared tasks";
        s_block.style.display = "none";
    }
}
</script>


{% endblock %}