{% extends 'tracker_app/base.html' %}

{% block title %}Periodic Plans{% endblock %}

{% block content %}
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item " ><a href="{% url 'index' %}">All tasks</a></li>
      <li class="nav-item" ><a  href="{% url 'actuals' %}">Actual Tasks</a></li>
      <li class="nav-item" ><a  href="{% url 'all_reminders' %}">Reminders</a></li>
      <li class="nav-item " ><a class="nav-link active"  href="{% url 'all_plans' %}">All plans</a></li>
    </ul>
<hr/>
<table class="table">
    <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Template Task</th>
                <th>Last update:</th>
                <th>Period</th>
                <th>Plan ends:</th>
                <th></th>
            </tr>
    </thead>
    <tbody>
        {% for plan in plans_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'plan_details' plan.id %}">{{plan.task_template.title}}</a></td>
            <td>{{plan.last_update_time}}</td>
            <td>{{plan.period}}</td>
            <td>
                {% if plan.end_time %}
                    {{plan.end_time}}
                {% else %}
                    Never
                {% endif %}
            </td>
            <td>
                <a href="{% url 'delete_plan' plan.id %}">
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}